@import '../../scss/variables';

.signin-link {
    color: $light200;
    font-size: $meduim;
    padding: .8rem 2rem;
    border-radius: $radius-4;
    display: block;
    width: 170px;
}

.signin-btn {
    color: $light200;
    font-size: $meduim;
    padding: .8rem 2rem;
    border-radius: $radius-4;
    display: block;
    width: 170px;
    border: none;
}

#yellow {
    background-color: $yellow100;
}

#purple {
    background-color: $primary;
}