@import '../../scss/variables';

.signin-link {
    color: $light200;
    font-size: $meduim;
    padding: .8rem 2rem;
    border-radius: $radius-4;
    display: block;
    width: 170px;
}

.signin-btn {
    color: $light200;
    font-size: $meduim;
    padding: .8rem 2rem;
    border-radius: $radius-4;
    display: block;
    width: 170px;
    border: none;
}

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $radius-4;
    border: 1px solid $primary;
    background-color: $light200;
    color: $primary;
    font-size: $meduim;
    font-weight: map-get($font-weights, semibold);
    padding: 0 1rem;
}

#yellow {
    background-color: $yellow100;
}

#purple {
    background-color: $primary;
}