@import '../../scss/mixin';
@import '../../scss/variables';

#explore {

    &__intro {
        text-align: center;
        color: $light200;
        background: url('../../assets/nikolai-chernichenko-QOLyehGXRyA-unsplash.jpg');
        @include background1;

        >div {
            padding: 12rem $padding-x 8rem $padding-x;
            background: rgba(45, 45, 45, 0.7);
        }

        h2 {
            max-width: 550px;
            margin: 0 auto;
            font-size: clamp(2rem, 3.8vw, 3rem);
            line-height: 1.5;
            margin-bottom: 1rem;
            font-weight: map-get($font-weights, semibold);
        }

        p {
            max-width: 400px;
            margin: 0 auto;
            font-size: calc($base + 2px);
            line-height: 1.8;
        }
    }

    .why__choose {
        padding: 3rem 1rem;

        h3 {
            color: $third;
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }

        h4 {
            color: $dark200;
            font-size: 2.5rem;
            font-weight: map-get($font-weights, semibold);
            margin: 0 auto;
            max-width: 800px;
            text-align: center;
            line-height: 1.4;
            font-family: 'Inter';
            font-size: clamp(2rem, 3.8vw, 3rem);
        }

        h5 {
            color: $dark200;
            font-size: 1.25rem;
            font-weight: map-get($font-weights, big);
        }

        p {
            color: $dark300;
            margin-top: .6rem;
        }

        .reason {
            @include flex-wrap;
            justify-content: center;
            gap: 2rem;
            max-width: 1000px;
            margin: 2rem auto 0 auto;

            >div {
                flex-basis: $base250;
                flex-grow: 1;
                display: flex;
                align-items: flex-start;
                gap: $base;
                max-width: 300px;
            }
        }
    }
}

.top__creatives {
    text-align: center;
    padding: 2rem $padding-x;

    h3 {
        font-size: 1.5rem;
        color: $third;
    }

    >div {
        @include flex-wrap;
        justify-content: center;
        gap: 2rem;
        margin: 2rem 0;

        .overlay {
            background: rgba(45, 45, 45, 0.5);
            position: absolute;
            inset: 0;
            z-index: 1;
        }

        figure {
            flex-grow: 1;
            flex-basis: 250px;
            position: relative;
            max-width: 300px;
            border-radius: $radius-8;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: $radius-8;
                min-height: 100%;
                transition: all .4s ease;
            }

            figcaption {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.25rem;
                text-align: center;
                color: $light200;
                z-index: 2;
            }

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }

    button {
        margin: auto;
        display: block;
        font-size: $base;
        color: $primary;
        background-color: transparent;
        border: none;
        font-weight: map-get($font-weights, semibold);
    }
}