@import '../../../scss/variables';

.explore__dropdown {
    background-color: $light100;
    position: absolute;
    border: 1px solid rgba(45, 45, 45, 0.1);
    border-radius: $radius-4;
    top: 100%;
    display: grid;
    grid-template-columns: 200px 200px;
    transition: all .2s ease;

    h3 {
        color: hsla(0, 0%, 42%, 1);
        font-size: $meduim;
        font-weight: map-get($font-weights, big);
        text-align: left;
        margin-bottom: calc($base + 5px);
    }

    h4 {
        color: hsla(0, 0%, 42%, 1);
        font-size: $meduim;
        font-weight: map-get($font-weights, big);
        text-align: left;
        margin: 10px 0;
    }

    p {
        text-align: left;
        color: $dark200;
        font-size: $meduim;
        font-weight: map-get($font-weights, big);
        margin-bottom: .5rem;
        cursor: pointer;
    }

    >section {
        padding: $base;

        div {
            overflow-y: scroll;
            height: 260px;
        }
    }
}

@media(max-width: 1200px) {
    .explore__dropdown {
        display: none;
    }
}