@import '../../scss/mixin';
@import '../../scss/variables';

footer {
    border-top: 1px solid hsl(0, 0%, 67%);

    .main_section {
        padding: 3rem $padding-x;
        @include flex-wrap;
        justify-content: space-between;
        column-gap: 8rem;
        row-gap: 4rem;
        position: relative;
        color: $primary;

        @media(max-width: 450px) {
            padding: 8rem $padding-x 6rem $padding-x;
            row-gap: 0;
        }

        nav {
            @include flex-wrap;
            justify-content: space-between;
            flex-basis: $base450;
            flex-grow: 1;
            gap: 2rem;
            max-width: 700px;

            @media(max-width: 450px) {
                order: 2;
                gap: 0;
            }

            .social__links {
                div {
                    margin-top: 1.2rem;

                    img {
                        margin-right: 1.2rem;
                    }
                }

                @media(max-width: 450px) {
                    margin: auto;

                    >img {
                        position: absolute;
                        top: 2rem;
                        left: 50%;
                        transform: translate(-50%, 0);
                    }

                    div {
                        position: absolute;
                        bottom: 2rem;
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                }
            }

            .links {
                display: flex;
                justify-content: space-between;
                column-gap: 4rem;
                row-gap: 2rem;
                font-size: $meduim;

                section {

                    h3 {
                        font-size: $meduim;
                        font-weight: map-get($font-weights, semibold);

                        img {
                            display: none;
                        }
                    }

                    ul {
                        margin-top: 1.8rem;

                        li {
                            font-size: inherit;
                            font-weight: map-get($font-weights, big);
                            margin-bottom: 1.2rem;
                        }
                    }
                }

                @media(max-width: 450px) {
                    flex-grow: 1;
                    flex-direction: column;
                    flex-basis: 500px;
                    row-gap: 0;

                    & section:nth-child(2) {
                        border-bottom: 1px solid hsla(0, 0%, 50%, 1);
                    }

                    section {
                        border-top: 1px solid hsla(0, 0%, 50%, 1);
                        padding: 1rem 0;

                        h3 {
                            display: flex;
                            justify-content: space-between;
                            cursor: pointer;

                            img {
                                display: block;
                                transition: all .3s ease;
                            }

                            .rotate {
                                transform: rotate(-90deg);
                            }
                        }

                        ul {
                            display: none;
                        }

                        .show {
                            display: block;
                            max-height: fit-content;
                        }
                    }
                }
            }
        }

        .footer__contact {
            flex-basis: $base300;
            flex-grow: 1;
            max-width: 600px;
            margin: 0 auto;

            @media(max-width: 450px) {
                order: 1;
            }

            h3 {
                font-size: $meduim;
                font-weight: map-get($font-weights, semibold);

                img {
                    height: 13px;
                    margin-right: 5px;
                }

            }

            form {
                @include flex-wrap;
                column-gap: 3rem;
                margin-top: 1rem;

                input {
                    color: inherit;
                    flex-grow: 1;
                    font-size: $meduim;
                    display: block;
                    flex-basis: 1000px;
                    border: none;
                    border-bottom: 1px solid $primary;
                    padding: .7rem 2px;
                    margin-top: .7rem;
                    background-color: transparent;


                    &[type="text"] {
                        flex-basis: 100px;
                        flex-grow: 1;
                    }

                    &::placeholder {
                        color: inherit;
                    }

                    &:focus {
                        outline: none;
                        border-bottom: 1.5px solid $dark200;
                    }
                }

                label {
                    border-bottom: 1px solid $primary;
                    padding: .7rem 2px;
                    margin-top: .3rem;
                    background-color: transparent;
                    flex-basis: 1000px;
                    flex-grow: 1;
                    font-size: $meduim;

                    input {
                        display: inline;
                        margin-right: 5px;
                    }
                }

                button {
                    margin-top: 1.5rem;
                }

                @media(max-width: 450px) {
                    margin-bottom: 3rem;

                    button {
                        width: 100%;
                    }
                }
            }
        }
    }

    .copyright {
        background-color: $secondary;
        color: $light200;
        font-size: $meduim;
        padding: 1.5rem $padding-x;
        @include flex-center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;

        ul {
            @include flex-wrap;
            gap: 2rem;
        }

        @media(max-width: 450px) {
            p {
                margin: auto;
            }

            ul {
                @include flex-wrap;
                justify-content: space-between;
                width: 100%;
            }
        }
    }
}