@import '../../scss/mixin';
@import '../../scss/variables';

header {
    background-color: $primary;
    padding: 1rem $padding-x;

    a {
        color: $light100;
        font-size: $base;
        font-weight: map-get($font-weights, big);
    }

    & nav {
        @include flex-center;
        column-gap: 2rem;

        div {
            @include flex-center;
            column-gap: 5rem;

            ul {
                @include flex-center;
                column-gap: 3rem;

                .bargain {
                    position: relative;
                    margin-right: 1.5rem;

                    &::after {
                        position: absolute;
                        display: inline-block;
                        content: 'New';
                        background: $green100;
                        color: $light100;
                        border-radius: 20px;
                        font-size: .75rem;
                        bottom: 6px;
                        padding: 4px 6px;
                    }
                }
            }

        }
    }

    .sign__in {
        border: 2px solid $light200;
        border-radius: $radius-8;
        padding: .5rem 1.5rem;
    }
}