@import '../../scss/mixin';
@import '../../scss/variables';

.main__header {
    background-color: $primary;
    padding: 1rem $padding-x;
    z-index: 900;
    position: absolute;
    width: 100%;
    top: 0;

    a {
        color: $light100;
        font-size: $base;
        font-weight: map-get($font-weights, big);
    }

    & nav {
        @include flex-center;
        column-gap: 2rem;

        .menu__icon {
            cursor: pointer;
            display: none;
        }

        div {
            @include flex-center;
            column-gap: 5rem;

            .overlay {
                display: none;
            }

            ul {
                @include flex-center;
                column-gap: 2rem;

                .bargain {
                    position: relative;
                    margin-right: 1.5rem;

                    &::after {
                        position: absolute;
                        display: inline-block;
                        content: 'New';
                        background: $green100;
                        color: $light100;
                        border-radius: 20px;
                        font-size: .75rem;
                        bottom: 6px;
                        padding: 4px 6px;
                    }
                }
            }


        }

    }

    .sign__in {
        border: 2px solid $light200;
        border-radius: $radius-8;
        padding: .5rem 1.5rem;
    }

}

@media(max-width: 1020px) {
    .main__header {

        & nav {
            display: grid;
            grid-template-columns: 1fr 1fr max-content;

            .menu__icon {
                display: block;
            }

            div {

                .overlay {
                    display: block;
                    position: fixed;
                    inset: 0;
                    z-index: 800;
                    background: rgba(45, 45, 45, 0.6);
                    transition: all .4s ease;
                    pointer-events: all;
                }

                .overlay__fade {
                    pointer-events: none;
                    opacity: 0;
                }

                ul {
                    position: fixed;
                    flex-direction: column;
                    background-color: $light200;
                    min-height: 100vh;
                    max-height: 110vh;
                    overflow-y: scroll;
                    top: 0;
                    left: -110%;
                    z-index: 999;
                    width: 80%;
                    max-width: 250px;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 3rem clamp(1rem, 4vw, 3rem);
                    transition: all .4s ease;

                    li {
                        margin-bottom: 2rem;

                        a {
                            color: $dark200;
                        }
                    }
                }

                .open {
                    left: 0 !important;
                }
            }

        }
    }
}

@media(max-width: 480px) {
    .main__header {
        padding: .6rem 1rem;
    }
}

@media(max-width: 350px) {
    .main__header {
        & nav {
            .sign__in {
                font-size: 12px;
                padding: .3rem 1rem;
            }
        }
    }
}