@import '../../scss/variables';

.project__modal {
    position: fixed;
    background: rgba(45, 45, 45, 0.4);
    inset: 0;
    transition: all .2s ease;
    overflow-y: scroll;
    z-index: 30;

    // .flex {
    //     display: flex;
    //     justify-content: space-between;
    //     flex-direction: row-reverse;
    //     align-items: center;
    // }

    &__content {
        background: $light200;
        padding: 1rem 2rem 1rem 2rem;
        max-width: 700px;
        margin: 2rem auto 2rem auto;
        border-radius: $radius-4;
        

        .close {
            cursor: pointer;
            width: fit-content;
            margin: 1rem 0rem 1rem auto;
        }

        * {
            color: $dark200;
            font-weight: map-get($font-weights, big);
            font-size: $base;
        }

        h3 {
            text-align: center;
        }

        form {

            input,
            textarea {
                display: block;
                width: 100% !important;
                border: 1px solid rgba(45, 45, 45, 0.6);
                border-radius: $radius-4;
                background: inherit;
                padding: 1rem .5rem;
                resize: none;

                &:focus {
                    outline: 1px solid transparent;
                    border: 2px solid rgba(45, 45, 45, 0.4);
                }
            }

            textarea {
                height: 120px !important;
                margin-bottom: 2rem;
            }

            label {
                margin: 2rem 0 .5rem 0;
                display: block;
            }

            button {
                border: none;
                width: 100%;
                display: block;
                border-radius: $radius-4;
                padding: .8rem;
                margin: 1rem 0;
            }

            .upload {
                background: #E5E5E5;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    margin-right: 1rem;
                    height: 25px;
                }
            }

            button {
                &[type="submit"] {
                    color: $light200;
                    font-size: $meduim;
                    background-color: $primary;
                }
            }
        }
    }
}

.modal__show__false {
    pointer-events: none;
    opacity: 0;
}