@import '../../../scss/mixin';
@import '../../../scss/variables';

#home__creatives {
    padding: 2rem $padding-x;

    h2 {
        color: $third;
        text-align: center;
        font-size: 1.5rem;
    }

    .creatives {
        @include flex-wrap;
        justify-content: center;
        gap: 2rem;
        margin: 2rem 0;

        @media(max-width:490px) {
            gap: 1rem;
        }

        figure {
            flex: 1 0 250px;
            position: relative;
            max-width: 300px;
            border-radius: $radius-8;
            overflow: hidden;
            max-height: fit-content;

            @media(max-width:600px) {
                flex: 1 0 200px;
            }

            @media(max-width:490px) {
                flex: 1 0 150px;
            }

            .overlay {
                background: rgba(45, 45, 45, 0.5);
                position: absolute;
                inset: 0;
                z-index: 1;
            }

            img {
                width: 100%;
                object-fit: cover;
                min-height: 100%;
                border-radius: $radius-8;
                transition: all .4s ease;
            }

            figcaption {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.25rem;
                text-align: center;
                color: $light200;
                z-index: 2;
            }

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }

    button {
        margin: auto;
        display: block;
        font-size: $base;
        color: $primary;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $primary;
    }
}

#how__it__works {
    padding: 2rem $padding-x;
    position: relative;
    margin: $base 0;
    background: #A05EB5;
    border-width: 1px 0px 1.51px 0px;
    border-style: solid;
    border-color: rgba(32, 19, 36, 0.3);

    .layer {
        background-color: $primary200;
        position: absolute;
        inset: 0;
        z-index: -1;
        pointer-events: none;
    }

    h2 {
        text-align: center;
        color: $light200;
        font-size: 1.5rem;
        font-weight: map-get($font-weights, semibold);
    }

    .flex-col {
        @include flex-center;
        flex-wrap: wrap;
        margin-top: 2rem;
        gap: 2rem;

        .numbers {
            flex-basis: $base350;
            flex-grow: 1;

            .number {
                margin-top: 1.5rem;
                color: rgba(248, 248, 248, 0.6);

                * {
                    transition: all .1s ease;
                }

                &:hover {
                    color: $light200;

                    button {
                        border: 4px solid $light200;
                    }

                    span {
                        background-color: $light200;
                    }
                }

                >div {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    p {
                        font-size: calc($base + 2px);
                        font-family: 'Inter';
                        font-weight: map-get($font-weights, semibold);
                        max-width: 300px;
                    }

                    button {
                        font-size: 1.3rem;
                        font-weight: map-get($font-weights, bold);
                        color: inherit;
                        background-color: transparent;
                        border: 4px solid rgba(248, 248, 248, 0.6);
                        border-radius: 50%;
                        height: 56px;
                        width: 56px;
                        font-family: 'Inter';
                    }
                }

                span {
                    display: block;
                    width: 4px;
                    height: 70px;
                    background-color: rgba(248, 248, 248, 0.6);
                    border-radius: $radius-8;
                    margin: .7rem 0 0 26px;
                }

                @media(max-width: 520px) {
                    >div {
                        flex-direction: column;
                        margin-bottom: 2rem;
                        text-align: center;
                    }

                    span {
                        display: none;
                    }
                }
            }
        }

        figure {
            flex-basis: $base250;
            flex-grow: 1;

            img {
                pointer-events: none;
            }
        }
    }
}

#hire {
    text-align: center;
    padding: clamp(3rem, 5vw, 20rem) $padding-x;
    background-color: $yellow200;
    color: $light200;
    margin: 1rem 0;
    border-width: 1px 0px 1.51px 0px;
    border-style: solid;
    border-color: rgba(32, 19, 36, 0.3);

    h2 {
        font-size: 1.5rem;
        font-weight: map-get($font-weights, big);
    }

    >div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 3rem;
        column-gap: 5rem;
        row-gap: 2rem;

        div {
            flex-basis: 200px;
            flex-grow: 1;

            img {
                height: 80px;
            }

            h3 {
                font-size: calc($base + 3px);
                font-weight: map-get($font-weights, big);
                margin: 2rem 0 1rem 0;
            }

            p {
                font-size: $base;
                font-weight: map-get($font-weights, thin);
                margin: auto;
                max-width: 300px;
            }
        }
    }
}