@import '../../../scss/mixin';
@import '../../../scss/variables';

#home__search {
    margin-top: 2.5rem;

    &__bar {
        max-width: fit-content;
        position: relative;
        width: 100%;
        max-width: 600px;
        display: flex;
        border-radius: $radius-4;
        overflow: hidden;

        input {
            background: $light200;
            font-size: $meduim;
            color: $dark200;
            font-weight: map-get($font-weights, big);
            flex-grow: 1;
            border: none;
            padding: .9rem 1rem .9rem 3.5rem;

            &:focus {
                outline: none;
            }

        }

        /* clears the ‘X’ from Internet Explorer */
        input[type=search]::-ms-clear {
            display: none;
            width: 0;
            height: 0;
        }

        input[type=search]::-ms-reveal {
            display: none;
            width: 0;
            height: 0;
        }

        /* clears the ‘X’ from Chrome */
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
            display: none;
        }

        img {
            position: absolute;
            left: 1.5rem;
            top: .9rem;
        }

        button {
            font-size: $meduim;
            font-weight: map-get($font-weights, semibold);
            color: $light200;
            border: none;
            background-color: $primary;
            padding: .9rem 2.3rem;
            display: block;
        }

    }

    @media(max-width: 450px) {
        &__bar {
            flex-direction: column;

            input {
                border-radius: $radius-4;
                margin-bottom: 1rem;
            }

            button {
                border-radius: $radius-4;
            }
        }
    }

    .top__searched {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.3rem;

        @media(max-width:450px) {
            display: none;
        }

        p {
            margin: 0 .3rem 0 0;
            border-radius: $radius-8;
            font-size: $meduim;
            flex-shrink: 0;
        }

        div {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            flex-basis: 200px;
            flex-grow: 1;

            button {
                background-color: transparent;
                border: 1px solid $light200;
                border-radius: $radius-8;
                font-size: $meduim;
                color: inherit;
                padding: .4rem;
            }
        }
    }
}

.user {
    .overlay {
        padding: 3rem $padding-x 5rem $padding-x;
        color: $light200;
        background: rgba(45, 45, 45, 0.6);

        button {
            color: inherit;
            border: none;
            background-color: transparent;
            font-size: 1.25rem;
            position: relative;
            padding: .6rem .7rem;

            .bt {
                position: absolute;
                top: 0;
                right: 0;
                pointer-events: none;
            }

            .bb {
                position: absolute;
                bottom: 0;
                left: 0;
                pointer-events: none;
            }
        }

        h2 {
            font-size: 2.5rem;
            font-weight: map-get($font-weights, big);
            line-height: 4rem;
            letter-spacing: -0.7500001192092896px;
            margin: 2.3rem 0;
        }

        >div {
            @include flex-center;
            max-width: 900px;
            margin: 6rem auto;

            button {
                font-size: 1.3rem;
                font-weight: map-get($font-weights, bold);
                color: inherit;
                background-color: transparent;
                border: 4px solid $light200;
                border-radius: 50%;
                height: 64px;
                width: 64px;
                font-family: 'Inter';
                padding: 0;
            }

            span {
                display: block;
                height: 4px;
                width: 23%;
                background-color: $light200;
                border-radius: $radius-8;
            }
        }
    }
}

.clients {
    background: url('../../../assets/african-american-man-customer-support-operator-with-hands-free-headset-working-office.jpg');
    @include background1;

    h2 {
        max-width: 450px;
    }
}

.creative {
    background: url('../../../assets/woman-with-mobile-phone-lady-with-documents.jpg');
    @include background1;

    h2 {
        max-width: 700px;
    }
}

@media(max-width: 600px) {
    .user {
        text-align: center;

        .overlay {
            h2 {
                margin: 2rem auto;
                font-size: 1.5rem;
                font-weight: map-get($font-weights, big);
                line-height: 2.5rem;
            }

            >div {
                >button {
                    height: 40px;
                    width: 40px;
                    border: 2.5px solid $light200;
                    font-weight: map-get($font-weights, big);
                }

                span {
                    width: 15%;
                    height: 3px;
                }
            }
        }
    }
}