@import '../../scss/mixin';
@import '../../scss/variables';

#signin {
    padding: 1rem $padding-x 4rem $padding-x;
    color: $dark200;

    >p {
        margin-left: auto;
        max-width: fit-content;
        color: $primary;
        font-size: $meduim;
    }

    >h2 {
        text-align: center;
        max-width: 650px;
        margin: 2rem auto;
        line-height: 2.5rem;
        font-weight: map-get($font-weights, semibold);
    }

    >div {
        max-width: 430px;
        margin: auto;

        form {

            #purple {
                width: 100% !important;
                margin-top: 2rem;
            }
        }

        .or {
            text-align: center;
            color: $dark200;
            font-weight: map-get($font-weights, semibold);
            margin: .5rem 0;
        }

        >button {
            width: 100% !important;
        }

        .account {
            text-align: center;
            font-size: $meduim;
            margin: 1rem 0;

            a {
                color: $primary;
            }
        }
    }
}