@import '../../scss/variables';
@import '../../scss/mixin';

#recent__jobs {

    &__intro {
        padding: 10rem $padding-x 5rem $padding-x;
        background: hsl(275, 65%, 19%);
        color: $light200;

        >div {
            margin-left: 17%;

            @media(max-width: 550px) {
                margin-left: 0;
            }

            h2 {
                font-weight: map-get($font-weights, semibold);
                font-size: clamp(2rem, 3.8vw, 3rem);
                margin-bottom: 2rem;
            }

            p {
                font-size: calc($base + 2px);
                line-height: 2;
                max-width: 400px;
            }
        }
    }

    &__reviews {
        padding: 3rem $padding-x;

        h3 {
            color: $dark200;
            text-align: center;
            font-size: $meduim;
            font-weight: map-get($font-weights, semibold);
        }

        .stars {
            display: flex;
            justify-content: center;
            margin-top: $base;
            margin-bottom: 3rem;
        }

        .reviews {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
            gap: 3rem;
            max-width: 1000px;
            margin: 0 auto;

            >div {
                flex: 1 0 250px;
                max-width: 350px;
                margin: 0 auto;
                border-bottom: 1px solid rgba(45, 45, 45, 0.1);
                padding-bottom: $base;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & p:nth-child(1) {
                    font-style: italic;
                    color: hsla(0, 0%, 18%, 0.8);
                    font-size: $meduim;
                    font-weight: map-get($font-weights, semibold);
                    max-width: 320px;
                    margin: 0 auto $base auto;
                }

                & p:nth-child(2) {
                    color: hsla(0, 0%, 18%, 0.8);
                    font-size: $meduim;
                    font-weight: map-get($font-weights, semibold);
                }
            }
        }
    }
}