@import '../../scss/mixin';
@import '../../scss/variables';

#home {
    &__hero {
        background: url('../../assets/martin-engel-KLFB1AEPLwA-unsplash.jpg');
        @include background1;
        color: $light200;

        &__overlay {
            padding: 13rem $padding-x 6rem $padding-x;
            background: rgba(45, 45, 45, 0.7);

            &__content {
                margin-left: 17%;

                h1 {
                    font-size: clamp(2rem, 3.8vw, 3rem);
                    font-weight: map-get($font-weights, semibold);
                }

                p {
                    max-width: 350px;
                    line-height: 1.8rem;
                    margin: 1rem 0;
                }

                @media(max-width: 950px) {
                    margin-left: 10%;
                }
            }
        }
    }

    @media(max-width: 650px) {
        &__hero {
            text-align: center;

            &__overlay {

                &__content {
                    margin-left: 0;

                    p {
                        margin: 1rem auto;
                    }
                }
            }

        }
    }
}