@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,300&display=swap');
@import './scss/mixin';
@import './scss/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, Arial, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue';
}

html {
  scroll-behavior: smooth;
  background: $light200;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  p {
    line-height: 1.6rem;
  }

  button {
    cursor: pointer;
  }
}

img {
  max-width: 100%;
}


$scroll-bar-color: #c5c5c5;
$scroll-bar-bg-color: #f6f6f6;

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: $scroll-bar-bg-color;
}

*::-webkit-scrollbar-thumb {
  background-color: $scroll-bar-color;
  border-radius: 20px;
  border: 1px solid $scroll-bar-bg-color;
}

@media(max-width: 500px) {
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }
}