@import '../../scss/variables';

#login {
    color: $dark200;
    max-width: calc(430px + 2rem);
    padding: 7.5rem 1rem 4rem 1rem;
    margin: auto;

    >p {
        margin-left: auto;
        max-width: fit-content;
        font-size: $meduim;
    }

    >h2 {
        text-align: center;
        margin-bottom: 2rem;
        line-height: 2.5rem;
        font-weight: map-get($font-weights, semibold);
    }

    button {
        width: 100%;
    }

    .forgot {
        margin: .5rem 0 0 auto;
        width: fit-content;
        font-size: $meduim;
        color: $primary;
        display: block;
    }

    .or {
        color: $dark200;
        font-weight: map-get($font-weights, semibold);
        margin: .5rem auto;
    }

    .purple {
        margin-top: 1rem;
    }

    .account {
        font-size: $meduim;
        margin: 1rem auto;

        a {
            color: $primary;
        }
    }
}