@import '../../scss/_variables.scss';

#new__password {
    padding: 2rem $base;
    color: $dark200;
    max-width: 620px;
    margin: auto;
    text-align: center;

    >img {
        height: 80px;
    }

    h2 {
        margin: 1rem 0;
        line-height: 2.5rem;
        font-weight: map-get($font-weights, semibold);
    }

    >p {
        font-size: $meduim;
    }

    form {
        label {
            margin: 2rem 0 .5rem 0;
            display: block;
            font-size: calc($meduim + 1px);
            color: $dark200;
            text-align: left;
        }

        button {
            width: 100%;
        }

        .signin-btn {
            margin: 2rem 0;
        }
    }

    &__resend {
        font-size: $meduim;
        margin: 1.8rem 0;
        display: block;

        & span {
            color: $primary;
        }
    }

}